<!DOCTYPE html>
<html lang="ua">
    <head>
        <meta charset="UTF-8">
        <title>Z-Build - Вітаємо</title>
        <link rel="stylesheet" href="~/css/authorization.css" asp-append-version="true" />
    </head>
    <body>
        <div class="welcome-container">
            <div class="welcome-title">Z-Build</div>

            <div class="button-group">
                <a href="/Authorization/SignIn" class="btn btn-primary">Увійти</a>
                <a href="/Authorization/SignUp" class="btn btn-secondary">Зареєструватися</a>

                <a href="/Products/Products" class="btn btn-back">Повернутися до каталогу</a>
            </div>
        </div>

    </body>
</html>