<!DOCTYPE html>
<html lang="ua">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Увійти - Z-Build</title>
        <link rel="stylesheet" href="~/css/signIn.css" asp-append-version="true" />
    </head>
    <body>

        <div class="login-container">
            <form class="login-form">

                <div class="error-message">
                    Неправильні дані для входу. Спробуйте ще раз.
                </div>

                <div class="input-group">
                    <label>Введіть ПІБ</label>
                    <input type="text" spellcheck="false" />
                </div>

                <div class="input-group">
                    <label>Введіть Email</label>
                    <input type="email" spellcheck="false" />
                </div>

                <div class="input-group">
                    <label>Введіть пароль</label>
                    <input type="password" />
                </div>

                <a href="/User/Profile" class="btn-login">Увійти</a>

                <a href="/Products/Products" class="btn-back">Повернутися до каталогу</a>

            </form>
        </div>

    </body>
</html>