<!DOCTYPE html>
<html lang="ua">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Увійти - Z-Build</title>
        <link rel="stylesheet" href="~/css/signIn.css" asp-append-version="true" />
    </head>
    <body>

        <div class="login-container">
            <form action="/Authorization/SignIn" method="post" class="login-form">

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="error-message">
                        @ViewData.ModelState.Values.SelectMany(v => v.Errors).FirstOrDefault()?.ErrorMessage
                    </div>
                }

                <div class="input-group">
                    <label>Введіть Email</label>
                    <input name="email" type="email" spellcheck="false" />
                </div>

                <div class="input-group">
                    <label>Введіть пароль</label>
                    <input name="password" type="password" />
                </div>

                <button type="submit" class="btn-login">Увійти</button>

                <a href="/Products/Products" class="btn-back">Повернутися до каталогу</a>

            </form>
        </div>

    </body>
</html>